:root {
    /* Couleur de mise en exergue : Azul marino GRIPIC en RGB */
    --main: 10, 25, 75;

    /* Niveaux de gris des couleurs neutres */
    --text-num: 30;
    --bg-num: 255;
}

#article-header h1 {
    color: white;
}